[submodule "hashes"]
	path = hashes
	url = https://github.com/ershov-ilya/hashes.git
[submodule "cron-git-scripts"]
	path = cron-git-scripts
	url = https://github.com/ershov-ilya/cron-git-scripts.git
[submodule "Git.php"]
	path = Git.php
	url = git@github.com:kbjr/Git.php.git
